
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: 'Poppins';
  height: 100vh;
  margin: 0;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  max-width: 100% ;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  margin-top: 150px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family: 'Poppins';
  color: #333;
  margin-bottom: 20px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-weight: bold;
  font-family: 'Poppins';
  margin-top: 4px;
}

select {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  margin: auto;
  font-family: 'Poppins';
  margin-bottom: 16px;
  width: 200px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: 'Poppins';
}

button:hover {
  background-color: #3e8e41;
}

.warning-message {
  text-align: center;
  padding: 10px;
  background-color: #f2dede;
  color: #a94442;
  font-weight: bold;
  width: 300px;
  margin: 0 auto;
}


.personal-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
  }

  .personal-info h2 {
    margin-bottom: 10px;
    font-family: 'Poppins';
  }
  
  .personal-info p {
    margin: 5px;
    font-family: 'Poppins';
  }

.cta-message {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 5px;
  font-family: 'Poppins';
}

.cta-message a {
  color: #0066cc;
  text-decoration: underline;
  font-family: 'Poppins';
}

.cta-message a:hover {
  text-decoration: none;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-image: url('https://avatars.githubusercontent.com/u/79552953?v=4'); 
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 20px;
  }

}