/* Style the body element */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  height: 100vh; /* Ensure the container takes up the full viewport height */
  margin: 0; /* Remove default body margin */
}

/* Style the container element */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px; /* Add border-radius to create rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  max-width: 625px; /* Set a maximum width to control the size of the square block */
  margin: 25px; /* Add some space around the container */
}

/* Style the h1 element */
h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Geneva', sans-serif;
  color: #333;
}

/* Style the label element */
label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-weight: bold;
  font-family: 'Geneva', sans-serif;
  margin-top: 4px;
}

/* Style the select element */
select {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  margin: auto;
  font-family: 'Geneva', sans-serif;
  margin-bottom: 16px;
}

/* Style the button element */
button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: 'Geneva', sans-serif;
}

button:hover {
  background-color: #3e8e41;
}


.personal-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center the text within the container */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personal-info h2 {
    margin-bottom: 10px;
  }
  
  .personal-info p {
    margin: 5px;
  }

.cta-message {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 5px;
}

.cta-message a {
  color: #0066cc;
  text-decoration: underline;
}

.cta-message a:hover {
  text-decoration: none;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-image: url('https://avatars.githubusercontent.com/u/79552953?v=4'); 
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

